/* GLOBAL TYPOGRAPHY */
body {

}

/* FLEXBOX LAYOUT */
html, body {

}
body {

}
header {
    text-align: center;
    background-color: gray;
    color: white;
}
main {

}

/* HEADER/FOOTER */
header, footer {
    
}
footer {
    text-align: right;

}
.over-budget{
    color: red;
}
h1 {

}
h2 {

}

/* FORM ELEMENTS */
input {

}
button {

}

.submit-button {

}

/* TABLE */
table {
    width: 100%;
    text-align: left;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
}
th, td {
    padding: .5em;
    min-width: 3.5em;
}
thead {
    background: gray;
    color: #fcfcfc;
}
tbody tr:nth-child(odd) {
    background: #fcfcfc;
}
tbody tr:nth-child(even) {
    background: gray;
}