/* GLOBAL TYPOGRAPHY */
body {

}

/* FLEXBOX LAYOUT */
html, body {

}
body {

}
header {
    text-align: center;
    background-color: gray;
    color: white;
}
main {

}
footer {

}

/* HEADER/FOOTER */